.row {
    height: 30px;
    width: 300px;
    margin: 10px;
    color: black;
    word-spacing: 20px;
}

a.cell {
    color: blue;
    text-decoration: underline;
    font-size: 30px;
}

a.cell:hover {
    color: red;
    background-color: coral;
}